// Font-family
$lobster: 'Lobster1.4';
$opensans: "OpenSans", sans-serif;
$bebasneue: "BebasNeue";

// Set variables for font faces here

// Letter spacing
$ls-xl: 0.1em;
$ls-lg: 0.06em;
$ls-md: 0.04em;
$ls-sm: 0.02em;
$ls-xs: 0.01em;

// Line height
$lh-lg-x: 2;
$lh-lg: 1.6;
$lh-md: 1.4;
$lh-xs: 1.2;
$lh-sm: 1.1;

// Font size
//15px
$little: 0.9375rem;
//17px
$little-m: 1.063rem;
//19px
$little-l: 1.188rem;
//21px
$medium: 1.313rem;
//27px
$medium-m: 1.688rem;
//31px
$medium-l: 1.938rem;
//33px
$large: 2.063rem;
//49px
$large-m: 3.063rem;
//61px
$large-l: 3.813rem;




//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//17px = 1.063rem
//18px = 1.125rem
//19px = 1.188rem
//20px = 1.25rem
//21px = 1.313rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//27px = 1.688rem
//28px = 1.75rem
//30px = 1.875rem
//31px = 1.938rem
//32px = 2rem
//33px = 2.063rem
//34px = 2.125rem
//36px = 2.25rem
//48px = 3rem
//49px = 3.063rem
//60px = 3.75rem
//61px = 3.813rem
