a.btn1 {
  float: left;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 3px;
  background: $light-green;
  transition: 0.2s;
  text-transform: uppercase;
  font-family: $bebasneue;
  &:hover {
    background: rgb(53, 167, 110);
  }
  &:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }
}
a.btn2 {
  font-family: $bebasneue;
  font-size: $medium-m;
  color: $white;
  background: $darck-green;
  border: 3px solid $white;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.2s;
  &:hover {
    color: $darck-green;
    background: $white;
  }
  &:active {
    opacity: 0.6;
  }
}
